Source: dump1090-fa
Section: embedded
Priority: extra
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper(>=8), librtlsdr-dev, libusb-1.0-0-dev, pkg-config
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware/dump1090_builder/

Package: dump1090
Architecture: all
Depends: dump1090-fa, ${misc:Depends}
Priority: extra
Section: oldlibs
Description: transitional dummy package for dump1090
  This is a transitional dummy package to handle upgrades from
  the old package name of "dump1090" to the new package name of
  "dump1090-fa". It can safely be removed.

Package: dump1090-fa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: dump1090 (<< 1.3~)
Breaks: dump1090 (<< 1.3~)
Description: ADS-B Ground Station System for RTL-SDR
 Networked Aviation Mode S / ADS-B decoder/translator with RTL-SDR software
 defined radio USB device support plus piaware, software to forward
 Mode S / ADS-B messages to FlightAware over a compressed, encrypted
 TLS connection.
 .
 Includes a mini-webserver that you can access to see aircraft in the vicinity
 of your receiver.
 .
 It automatically shares data with FlightAware and can be used/configured
 to share messages with other services.
