Source: dump1090
Section: embedded
Priority: extra
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper(>=8), net-tools, tclx8.4, tcl8.5, tcllib, tcl-tls, raspi-copies-and-fills, itcl3, libssl1.0.0:armhf
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware
#Vcs-Git: git://git.debian.org/collab-maint/fa-adept-adsb.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fa-adept-adsb.git;a=summary

Package: dump1090
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, net-tools, tclx8.4, tcl8.5, tcllib, tcl-tls, raspi-copies-and-fills, itcl3, libssl1.0.0
Description: Networked Aviation Mode S / ADS-B decoder/translator with RTL-SDR device support plus piaware, software to forward Mode S / ADS-B messages to FlightAware over a compressed, encrypted TLS connection.
